* {
	all: unset; // Unsets everything so you can style everything from scratch
	font-size: 22px;
}

tooltip label {
	font-size: 14px;
	font-family: "Cantarell";
	border-radius: 6px;
	border: #dce0e8 1px solid;
	padding: 2px;
	margin: 2px;
	color: #dce0e8;
	background-color: #11111b;
}

.works,
.clock,
.launcher,
.container {
	background: #181825;
	border-radius: 6px;
	padding: 2px 4px;
	margin-top: 4px;
}

.bar {
	border-radius: 10px;
	background-color: rgba(#1e1e2e, 0.75);
	padding: 4px;
}

.launcher {
	margin-top: 0px;
}
.launcher label {
	font-size: 32px;
	transition: 0.5s;
	padding: 0px;
	margin: 4px 0px;
	color: #838ba7;
}
.launcher:hover label {
	color: #b5a16b;
}

.works {
	padding: 5px 4px;
}
.active,
.visible,
.inactive {
	color: #4c4f69;
	transition: 0.5s;
	margin: 3px 0px 5px 0px;
}

.visible:hover,
.inactive:hover {
	color: #c7c8fc;
}

.active {
	color: #89b4fa;
}

.visible {
	color: #969cb5;
}

.iconmem label {
	all: unset;
	font-size: 14px;
	color: #e0b089;
	margin: 6px;
}

.bri-slider scale trough highlight,
.vol-slider scale trough highlight {
	border-radius: 5px;
}

.bri-slider scale trough,
.vol-slider scale trough {
	all: unset;
	background-color: #4c4f69;
	border-radius: 5px;
	min-height: 100px;
	min-width: 16px;
	margin: 4px 2px;
}

.vol-icon,
.bri-icon,
.bat-icon,
.net-wired,
.net-wireless,
.net-disconnected {
	margin: 4px 0px;
}

.net-disconnected label {
	color: #838ba7;
}
.net-wireless label {
	color: #e882cd;
}
.net-wired label {
	color: #dc8a78;
}

.vol-slider scale trough highlight {
	background-color: #a6e3a1;
}

.bri-slider scale trough highlight {
	background-color: #f9e2af;
}
.bri-icon {
	color: #f9e2af;
}
.vol-icon {
	color: #a6e3a1;
}

.clock {
	min-width: 32px;
	padding: 0px;
	color: #ca9ee6;
}

.button-pow,
.button-res,
.button-sus,
.button-exit,
.button-pow-alt {
	color: #8087a2;
	margin: 4px 0px;
	transition: 0.5s;
}
.button-pow {
	color: #e78284;
}
.button-pow-alt:hover {
	color: #e64553;
}
.button-res:hover {
	color: #f5c43d;
}
.button-exit:hover {
	color: #965be3;
}
.button-sus:hover {
	color: #7287fd;
}
