* {
	all: unset;
}

@import "./styles/colors";

@import "./styles/sliders";
@import "./styles/tooltip";
@import "./styles/workspaces";
@import "./styles/powermenu";

.bar {
	padding-top: 0px;
	padding-bottom: 10px;
	background-color: $bg;
	color: $fg;
}

.tray-item {
	all: unset;
}

.container,
.power-menu,
.clock,
.battery {
	margin: -0.5px 5px;
	transition: 0.3s;
	border-radius: 1rem;
}

.power-menu:hover,
.container:hover,
.clock:hover,
.battery:hover {
	background-color: rgba($color: lighten($bg, 10%), $alpha: 0.7);
}

.battery {
	color: #cdd6f4;
	min-width: 32px;
	padding: 6px 3px;
}

.clock {
	min-width: 32px;
	padding: 4px 3px;
	color: #ca9ee6;
}
