@import "./colors";

.workspace {
	color: #fff;
	font-size: 24px;
	border-radius: 0.5rem;
	padding: 0rem 0.5rem;
	margin-left: 0.1rem;
	transition: 0.3s;
}

.workspace:hover {
	background-color: rgba($color: lighten($bg, 30%), $alpha: 0.7);
}

.workspace.active {
	background-color: $active;
	color: $bg;
}

.workspace.hidden {
	color: darken($fg, 15%);
}
