@use "./colors" as c;

.workspaces {
	margin-top: 1rem;
}

.workspace-button,
.workspaces-background {
	padding: 1px 10px 1.5px 10px;
	margin: 2px 6px 2px 7px;

	border-radius: 1rem;
	font-size: 24px;
}

.workspaces-background {
	background-color: c.$fg;
}

.workspace-button {
	color: c.$inactive-fg;
	background-color: transparent;
}

.workspace-button.hidden {
	color: transparent;
	font-size: 0;
	padding: 0;
	margin: 0;
}

.workspace-button.has-windows {
	color: c.$fg;
}

.workspace-button.active {
	color: c.$bg;
}

.workspace-button:not(.active):hover {
	background-color: c.$hover-bg;
}

.workspace-button,
.workspaces-background {
	transition: 300ms;
}
